body {
    margin: 0px;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; 
  font-style: normal;
  color: white;
}
.titulo{
    background-image: linear-gradient(rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .5) 100%), url(imagenes/fondomain.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 30rem;
    font-size: 3rem;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sub-con{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; 
    font-style: normal;
    margin: 2rem;
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
}

.panel-botones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    
}

.btn-lenguaje {
    background-color: #07779C;
    border-color: #07779C;
    border-radius: .5rem;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-lenguaje a {
    text-decoration: none;
    color: #fff;
    margin: 1rem;


}

.franja-negra {
    background-color: black;
    height: 150px;        */
    width: 100%;        
}

